<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${mensaje}">Insert title here</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>


<table>
<thead>
<tr>
<th>id</th>
<th>Nombre</th>
<th>Apellido</th>
<th>email</th>
<th>fecha</th>
</tr>
</thead>

<tbody>
<tr th:each="cliente: ${clientes}">
	<th th:text="${cliente.id}"></th>
	<th th:text="${cliente.nombre}"></th>
	<th th:text="${cliente.apellido}"></th>
	<th th:text="${cliente.email}"></th>
	<th th:text="${cliente.createAt}"></th>
</tr>
</tbody>
</table>
</body>
</html>